body, html{height:100%;margin:0;padding:0}

.code{
  height: 200px;
  position: relative;
}
code{
  background: #ddd;
  border-radius: 5px;
  padding: 5px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #bbb;
}

body{background:rgb(226, 238, 243);}
#layout{
	background:rgb(226, 238, 243);
	position:relative;
	min-height:100%;
}
#menu{
	background-color: #2b81af;
	color: #333;
	font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
	width:200px;
	float:left;border-right:3px solid #C6E746;
	padding:0;
	min-height:100%;
}

#menu h3{
	color:#eee;
	font-size:1.1em;margin:0;padding:0;padding-top:10px;
}

#menu ul{
	list-style-type:square;
	color:#eee;
	padding:0;
	margin:0 0 0 20px;
}

#menu li{
  transition: .5s;
  position: relative;
}

#menu li.current{
	background:#C6E746;
  padding: 0 0 0 6px;
  border-radius: 3px 0 0 3px;
}

#menu a{display: block}
#menu a:hover{
	background-color: rgba(255,255,255,0.3);
}


#menu li a{color:black;text-decoration:none;}
#menu li a:after{
  right:6px;position:absolute;
  text-shadow: 2px 2px 6px #000;
}
#menu li.fail a:after{
  content:"✘";color:#EE5757;
}
#menu li.pass a:after{
  content:"✔";color:#C6E746;
}

#right-column{padding:10px;padding-left:220px;}

hr.clear{height:0;width:0;border:0;padding:0;margin:0;visibility:hidden;clear:both;}


#qunit-tests {list-style-type:none;}
#qunit-tests li{padding:0.4em 0.5em 0.4em 0.5em}
#qunit-tests li strong, #qunit-tests li span.runtime{display:none}{display:none}

#qunit-tests li a{display:none;}

.qunit-collapsed{display:block;}
#qunit-testrunner-toolbar{display:none;}

#qunit{margin-top:20px;}

#qunit-header{display:none;}
